body {
    background-color: beige;
}

table {
    width: 443px;
    margin: auto;
    margin-top: 67px;
}

table tr {
    height: 100px;
}

.start_contanier {
    position: relative;
}

#start {
    height: 40px;
    width: 200px;
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.faded {
    animation: faded;
    animation-duration: 0.4s;
}

@keyframes faded {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}