@charset "UTF-8";
body {
    background-color: beige;
}

table {
    width: 443px;
    margin: auto;
    margin-top: 25px;
}

table tr {
    height: 100px;
}

.start_contanier {
    margin-top: -293px
}

span {
    margin-left: 13px;
}

.timerContaner {
    display: grid;
    margin: auto;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    background: #AFE9DD
}

.timeSec {
    margin-bottom: -30px;
}

.timerContaner>p {
    margin: auto;
    font-size: 2em;
    color: #F84982;
    margin-bottom: -4px;
}

.timerContaner>span {
    font-family: sans-serif;
    text-align: center;
    margin-left: 0px;
}

.time-sec {
    position: relative;
    display: inline-block;
    margin: 10px;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    background: #fff;
    color: #333;
}

.main-time {
    font-weight: 500;
    line-height: 70px;
    font-size: 2em;
    color: #F84982;
}

#start {
    margin: auto;
    display: block;
    background: #FCE2C1;
    background-image: -webkit-linear-gradient(top, #FCE2C1, #EEB44F);
    background-image: -moz-linear-gradient(top, #FCE2C1, #EEB44F);
    background-image: -ms-linear-gradient(top, #FCE2C1, #EEB44F);
    background-image: -o-linear-gradient(top, #FCE2C1, #EEB44F);
    background-image: -webkit-gradient(to bottom, #FCE2C1, #EEB44F);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 115px;
    height: 52px;
    padding-top: 25px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: Garamond;
    width: 97px;
    font-size: 20px;
    font-weight: 100;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 4px 1px 20px #000000;
    border: solid #337FED 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    position: relative;
}

img {
    height: 100px;
}

#start:hover {
    background: #EEB44F;
    background-image: -webkit-linear-gradient(top, #EEB44F, #FCE2C1);
    background-image: -moz-linear-gradient(top, #EEB44F, #FCE2C1);
    background-image: -ms-linear-gradient(top, #EEB44F, #FCE2C1);
    background-image: -o-linear-gradient(top, #EEB44F, #FCE2C1);
    /* background-image: -webkit-gradient(to bottom, #EEB44F, #FCE2C1); */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 115px;
    text-decoration: none;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

.animated.hinge {
    animation-duration: 2s
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1)
    }
    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    to {
        transform: scale3d(1, 1, 1)
    }
}

.tada {
    animation-name: tada
}

@keyframes rotateOut {
    from {
        transform-origin: center;
        opacity: 1
    }
    to {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0
    }
}

.rotateOut {
    animation-name: rotateOut
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out
    }
    40% {
        transform: perspective(400px) translate3d(0, 0, 100px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out
    }
    50% {
        transform: perspective(400px) translate3d(0, 0, 100px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in
    }
    80% {
        transform: perspective(400px) scale3d(.95, .95, .95);
        animation-timing-function: ease-in
    }
    to {
        transform: perspective(400px);
        animation-timing-function: ease-in
    }
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }
    to {
        transform: perspective(400px)
    }
}

.flipInX {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    animation-name: flipInX
}

@keyframes zoomOutDown {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
    }
    to {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1)
    }
}

.zoomOutDown {
    animation-name: zoomOutDown
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1)
    }
}

.zoomInUp {
    animation-name: zoomInUp
}

div {
    margin: 25px auto;
    width: 700px;
}

.inputsave {
    display: none;
}

.win>span {
    width: 20px;
    height: 10px;
    display: block;
    border-radius: 10px;
    float: left;
}

label {
    font-style: italic;
    color: darkgreen;
}

button {
    border: none;
    height: 28px;
    width: 57px;
    border-radius: 7px;
    color: darkgreen;
    background-color: darkkhaki;
    font-size: 16px;
    font-family: initial;
}

.win>span:nth-child(2n-1) {
    background: #DA70D6;
    animation: bar1 0.8s infinite ease;
}

.win>span:nth-child(2n) {
    background: yellow;
    animation: bar2 0.8s infinite ease;
}

@keyframes bar1 {
    0% {
        background: #DA70D6
    }
    100% {
        background: yellow
    }
}

@keyframes bar2 {
    0% {
        background: yellow
    }
    100% {
        background: #DA70D6
    }
}

h2 {
    color: #FF4500;
    clear: both;
    padding-top: 15px;
    padding-left: 15px;
    font-family: verdana;
    font-size: 14px;
}

.inputsave {
    height: 185px;
    padding-top: 3px;
    padding-left: 66px;
    background-color: thistle;
    border-radius: 65px;
    width: 390px;
}

textarea:focus,
input:focus {
    outline: none;
}

button:focus,
button:focus {
    outline: none;
}

button:hover {
    background-color: yellowgreen;
}

button {
    cursor: pointer;
}

img {
    cursor: pointer;
}

.inputsave>input {
    margin-top: 35px;
    border-radius: 6px;
    border: none;
    height: 26px;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0)
    }
    75% {
        transform: translate3d(0, -10px, 0)
    }
    90% {
        transform: translate3d(0, 5px, 0)
    }
    to {
        transform: none
    }
}

.bounceInDown {
    animation-name: bounceInDown
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1)
    }
}

.zoomInLeft {
    animation-name: zoomInLeft
}