@charset "UTF-8";
body {
    background-color: beige;
}

table {
    width: 443px;
    margin: auto;
    margin-top: 25px;
}

table tr {
    height: 100px;
}

.start_contanier {
    margin-top: -230px;
}

span {
    margin-left: 33px;
}

.timerContaner {
    display: grid;
    margin: auto;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    background: #AFE9DD
}

.timerContaner>p {
    margin: auto;
    font-size: 2em;
    color: #F84982;
}

.time-sec {
    position: relative;
    display: inline-block;
    margin: 10px;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    background: #fff;
    color: #333;
}

.main-time {
    font-weight: 500;
    line-height: 70px;
    font-size: 2em;
    color: #F84982;
}

#start {
    margin: auto;
    display: block;
    background: #FCE2C1;
    background-image: -webkit-linear-gradient(top, #FCE2C1, #EEB44F);
    background-image: -moz-linear-gradient(top, #FCE2C1, #EEB44F);
    background-image: -ms-linear-gradient(top, #FCE2C1, #EEB44F);
    background-image: -o-linear-gradient(top, #FCE2C1, #EEB44F);
    background-image: -webkit-gradient(to bottom, #FCE2C1, #EEB44F);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px;
    height: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: Garamond;
<<<<<<< HEAD
    width: 139px;
    font-size: 25px;
=======
    width: 200px;
    font-size: 35px;
>>>>>>> e172a95d8209bdcefe360a6eaef670735cfe5d90
    font-weight: 100;
    padding: 8px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 4px 1px 20px #000000;
    border: solid #337FED 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    position: relative;
}

img {
    height: 100px;
}

#start:hover {
    background: #EEB44F;
    background-image: -webkit-linear-gradient(top, #EEB44F, #FCE2C1);
    background-image: -moz-linear-gradient(top, #EEB44F, #FCE2C1);
    background-image: -ms-linear-gradient(top, #EEB44F, #FCE2C1);
    background-image: -o-linear-gradient(top, #EEB44F, #FCE2C1);
    background-image: -webkit-gradient(to bottom, #EEB44F, #FCE2C1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

.animated.hinge {
    animation-duration: 2s
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1)
    }
    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    to {
        transform: scale3d(1, 1, 1)
    }
}

.tada {
    animation-name: tada
}

@keyframes rotateOut {
    from {
        transform-origin: center;
        opacity: 1
    }
    to {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0
    }
}

.rotateOut {
    animation-name: rotateOut
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out
    }
    40% {
        transform: perspective(400px) translate3d(0, 0, 100px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out
    }
    50% {
        transform: perspective(400px) translate3d(0, 0, 100px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in
    }
    80% {
        transform: perspective(400px) scale3d(.95, .95, .95);
        animation-timing-function: ease-in
    }
    to {
        transform: perspective(400px);
        animation-timing-function: ease-in
    }
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }
    to {
        transform: perspective(400px)
    }
}

.flipInX {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    animation-name: flipInX
}

@keyframes zoomOutDown {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
    }
    to {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1)
    }
}

.zoomOutDown {
    animation-name: zoomOutDown
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1)
    }
}

.zoomInUp {
    animation-name: zoomInUp
}